<div class="fadeIn flex justify-center flex-col items-center h-full">
  <h1 class="text-2xl font-bold text-white font-700 font-30">Crie sua conta</h1>

  <form
    class="flex flex-col gap-3 mt-10 w-22"
    [formGroup]="form"
    (ngSubmit)="login()"
  >
    <div>
      <nx-org-input
        label="E-mail"
        placeholder="Informe seu e-mail..."
        icone="fa-solid fa-user"
        formControlName="email"
        [ngClass]="displayFieldCss(form.email)"

      ></nx-org-input>
      <span [ngClass]="displayFieldCss(form.email)">{{
        displayFieldMessage(form.email)
      }}</span>
    </div>
    <div>
      <nx-org-input
        label="Senha"
        placeholder="Digite sua senha..."
        icone="fa-solid fa-key"
        formControlName="senha"
        type="password"
        [ngClass]="displayFieldCss(form.senha)"

      ></nx-org-input>
      <span [ngClass]="displayFieldCss(form.email)">{{
        displayFieldMessage(form.email)
      }}</span>
      <div class="d-flex flex-col mt-2">
        <nx-org-button texto="Cadastre-se" [disabled]="
          !form.valid
        " [larguraMaxima]="true" (click)="login()"></nx-org-button>
        <span class="font-13 mt-1 block"
          >Já possui uma conta?
          <a class="text-white cursor-pointer font-700" routerLink="/" >Entre</a></span
        >
      </div>
    </div>
  </form>
</div>
