<div class="form-container fadeIn">
  <div class="d-flex align-items-center justify-content-center">
    <h1 class="title">Login Telespectador</h1>
  </div>

  <div class="form-instructions">
    <p class="font-poppins font-16 font-400 text-center cor-texto-medio">
      Informe seus dados para acesso à plataforma.
    </p>
  </div>

  <div class="form">
    <nx-org-input
      placeholder="Informe seu usuário"
      label="Usuário"
      [icone]="'fa-light fa-user'"
    ></nx-org-input>
    <nx-org-input
      placeholder="Informe sua senha"
      label="Senha"
      [icone]="'fa-light fa-lock'"
    ></nx-org-input>
    <span
      class="font-poppins font-400 font-13 line-21 cor-texto-escuro d-block ms-xl-auto cursor-pointer"
      routerLink="esqueci-senha"
      >Esqueci minha senha</span
    >

    <div class="btn-submit">
      <nx-org-button
        texto="Entrar"
        (click)="login()"
      ></nx-org-button>
      <u>
        <p
          class="font-poppins font-14 line-21 font-400 cor-texto-escuro text-center pt-4 cursor-pointer"
          routerLink="criar-senha"
        >
          Cadastrar uma senha
        </p>
      </u>
    </div>
  </div>
</div>
