<div class="grid-container fadeIn">
  <div class="left-grid">
    <div class="position-relative">
      <img
        src="assets/images/logos/logo.svg"
        alt="Logo Legale"
        class="logo-img"
      />
    </div>
    <div class="ilustration-content">
      <img [src]="bgImage" alt="background login" class="ilustration-img" />
      <p class="font-lato font-20 line-19 font-600 cor-branco pb-3 pt-3">
        {{ footerTxt }}
      </p>
    </div>
  </div>

  <div class="form">
    <router-outlet></router-outlet>
  </div>
</div>
