@import 'apps/nx-tree/src/assets/scss/utils/mixins';

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  overflow: hidden;
  }

.left-grid {
  height: 100vh;
}
