@import '../utils/variables';
@import '../utils/mixins';
.content-modal {
  .header-modal {
    padding: $size-15;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body-modal {
    padding: $size-15;
    overflow: auto;
  }

  .footer-modal {
    padding: $size-15;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-panel {
  @include flex-col;
  background-color: $white;
  border-radius: 0.3rem;
}

.fa-times-circle {
  font-size: 1.786rem;
  color: $blue;
}

.warning-text {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
}
