@import '../utils/variables';
.content-modal {
  background-color: $white;
  border-radius: 0.4rem;
  .header-modal {
    padding: $size-15;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-times-circle {
      cursor: pointer;
      color: $color-primary;
        font-size: $size-25;
      }

      .title {
        font-weight: 500;
        font-size: $size-16;
        color: $color-primary;
    }
  }

  .body-modal {
    padding: $size-15;
    overflow: auto;
  }

  .footer-modal {
    padding: $size-15 $size-15 $size-15 0;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

.overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-panel {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
}
