<div #tableContent>
  <cdk-table [dataSource]="dataSource">
    <ng-container cdkColumnDef="nome">
      <cdk-header-cell *cdkHeaderCellDef> Nome </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.nome }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="email">
      <cdk-header-cell *cdkHeaderCellDef> E-mail </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.email }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="telefone">
      <cdk-header-cell *cdkHeaderCellDef> Telefone </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.telefone }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="cpf">
      <cdk-header-cell *cdkHeaderCellDef> CPF </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.cpf }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="status">
      <cdk-header-cell *cdkHeaderCellDef> Status </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element">
        <div
        class="status-border cursor-pointer"
        [ngClass]="element.ativo ? 'green-status' : 'gray-status'"
      ></div>
      </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="acoes">
      <cdk-header-cell *cdkHeaderCellDef> AÇÕES </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element">
        <div tooltip="Editar" (click)="cadastrarCliente(element)">
          <i class="fa-light fa-pen-to-square fa-lg cursor-pointer"></i>
        </div>

        <div tooltip="Excluir" (click)="removerPerfil()">
          <i class="fa-light fa-trash-can fa-lg cursor-pointer"></i>
        </div>
        <div (click)="exportTable()" tooltip="Exportar Planilha">
          <i class="fa-light fa-file-spreadsheet fa-lg cursor-pointer"></i>
        </div>
      </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns"></cdk-row>
  </cdk-table>
</div>
