
<div #tableContent>
  <cdk-table  [dataSource]="dataSource">
    <ng-container cdkColumnDef="nome">
      <cdk-header-cell *cdkHeaderCellDef> Nome </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.nome }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="email">
      <cdk-header-cell *cdkHeaderCellDef> E-mail </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.email }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="telefone">
      <cdk-header-cell *cdkHeaderCellDef> Telefone </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.telefone }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="funcao">
      <cdk-header-cell *cdkHeaderCellDef> Função </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.funcao }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="linguagem">
      <cdk-header-cell *cdkHeaderCellDef> Linguagem </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element"> {{ element.linguagem }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="acoes">
      <cdk-header-cell *cdkHeaderCellDef> AÇÕES </cdk-header-cell>
      <cdk-cell *cdkCellDef="let element">
        <div tooltip="Editar">
          <i class="fa-light fa-pen-to-square fa-lg cursor-pointer"></i>
        </div>

        <div tooltip="Excluir">
          <i class="fa-light fa-trash-can fa-lg cursor-pointer"></i>
        </div>
        <div (click)="exportTable()" tooltip="Exportar Planilha">
        <i class="fa-light fa-file-spreadsheet fa-lg cursor-pointer"></i>

        </div>
      </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns"></cdk-row>
  </cdk-table>
</div>
