<div class="delivery-products-container" *ngIf="dataSource">
  <div *ngFor="let produto of dataSource.produtos">
   <div class="flex flex-col items-center">
    <span class="text-base ">{{produto.nome}}</span>
    <div class="card">
    <img class="h-6" [src]="produto.imagem" alt="">
     <div class="flex items-center pt-1 gap-1">
      <div class="circle-minus cursor-pointer">
        <i class="fa-solid fa-minus"></i>
      </div>
      <div class="circle-plus cursor-pointer" (click)="incrementarQuantidade(produto)">
        <i class="fa-solid fa-plus"></i>
      </div>
     </div>
    </div>
  </div>
  </div>
</div>
